Repository HackerSchool/Arquimedia, pull requests merged in 2022-05, with the labels that each got.

#131 Redesign exam generation page
  backend/api/serializer.py
  backend/api/views.py
  frontend/src/api.js
  frontend/src/assets/dropdownarrow.svg
  frontend/src/assets/redroundarrow.svg
  frontend/src/assets/redroundcheck.svg
  frontend/src/assets/redroundcheckbg.svg
  frontend/src/components/checkbox/Checkbox.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/config.js
  frontend/src/globalTheme.js
  frontend/src/pages/GenExamPage.js
  frontend/src/themeDark.js
Labels: frontend

#146 Add linting action
  .github/workflows/lint.yml
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/manifest.json
Labels: frontend

#143 Compute streaks on the backend
  backend/Arquimedia/__init__.py
  backend/Arquimedia/celery.py
  backend/Arquimedia/settings.py
  backend/api/serializer.py
  backend/celerybeat-schedule
  backend/exams/migrations/0019_auto_20220429_0051.py
  backend/users/migrations/0016_auto_20220429_0051.py
  backend/users/models.py
  backend/users/tasks.py
  frontend/src/components/profile/ProfileBasicInfo.js
Labels: backend

#147 Add setttings page
  backend/Arquimedia/settings.py
  backend/api/serializer.py
  backend/api/urls.py
  backend/api/views.py
  frontend/src/App.js
  frontend/src/api.js
  frontend/src/components/MenuCircular/MenuCircular.js
  frontend/src/components/inputs/TextInput.js
  frontend/src/config.js
  frontend/src/pages/SettingsPage.js
Labels: backend, frontend

#150 Fix missing props in Countdown clock
  frontend/src/components/countdownClock/CountdownClock.js
Labels: fix

#149 Question and answer UI change and responsiveness; Box Shadows for all buttons
  frontend/package-lock.json
  frontend/src/assets/newCheckMark.svg
  frontend/src/components/buttons/NormalButton.js
  frontend/src/components/questions/Answers.js
  frontend/src/components/questions/Question.js
  frontend/src/components/questions/QuestionAccordion.js
  frontend/src/components/questions/QuestionForm.js
  frontend/src/components/questions/QuestionsGroup.js
  frontend/src/pages/ExamPage.js
  frontend/src/pages/QuestionPage.js
Labels: enhancement, frontend

#155 Fix `XPGraph`
  frontend/src/components/xp/XPGraph.js
Labels: frontend, fix

#153 Change navbar
  frontend/src/components/MenuCircular/MenuCircular.js
  frontend/src/components/avatar/AvatarUser.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/pages/SettingsPage.js
Labels: frontend

#162 Fix KaTeX CSS version
  frontend/public/index.html
Labels: frontend, fix

#168 Add GitHub action to build Docker images and publish to GHCR
  .github/workflows/publish-docker-image.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/src/api.js
Labels: enhancement, task

#169 Fix invalid syntax on Docker GitHub Action
  .github/workflows/publish-docker-image.yml
Labels: bug, task

#170 Fix build-args on Docker publish GitHub Action
  .github/workflows/publish-docker-image.yml
Labels: bug, task

#171 Update path for frontend Dockerfile on GitHub Action
  .github/workflows/publish-docker-image.yml
Labels: bug, task

#166 Homepage\Dashboard
  frontend/.prettierrc
  frontend/src/App.js
  frontend/src/assets/answersIcon.svg
  frontend/src/assets/examIcon.svg
  frontend/src/assets/leaderboardIcon.svg
  frontend/src/assets/profileIcon.svg
  frontend/src/components/buttons/IconButton.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/LandingPage.js
Labels: frontend, design, feature

#165 Add mobile warning page
  frontend/src/App.js
  frontend/src/assets/discord-icon.svg
  frontend/src/assets/instagram-icon.svg
  frontend/src/assets/software-engineer-amico.svg
  frontend/src/pages/MobileWarningPage.js
Labels: frontend

#167 Fix `XP Graph`
  frontend/src/components/xp/XPGraph.js
Labels: frontend, fix

#180 Fix Exam's questions and answers sizes
  frontend/src/components/questions/Question.js
  frontend/src/components/questions/QuestionApproval.js
  frontend/src/components/questions/QuestionForm.js
  frontend/src/components/questions/QuestionsGroup.js
Labels: bug, frontend

#182 Fix django for production
  backend/Arquimedia/settings.py
  backend/requirements.txt
Labels: backend

#188 Fix access backend images
  backend/Arquimedia/settings.py
  backend/api/serializer.py
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  nginx.prod.conf
Labels: backend

#189 Generate exams only with approved questions
  backend/api/views.py
Labels: backend, fix

#194 Fix production environment
  docker-compose.prod.yml
  nginx.prod.conf
Labels: docker

#195 Enable CORS
  backend/Arquimedia/settings.py
Labels: backend

#184 Improvement of the results page
  .gitignore
  frontend/src/components/questions/QuestionAccordion.js
  frontend/src/components/questions/QuestionAccordionGroup.js
  frontend/src/pages/ResultsPage.js
Labels: frontend

#198 Fix all time leaderboard
  backend/api/views.py
  backend/users/migrations/0017_xpsystem_total_xp.py
  backend/users/models.py
Labels: backend

#196 Fix exam counter
  backend/api/views.py
Labels: backend

#190 Added Reset password Link to the Login page
  frontend/src/components/login/LoginInput.js
  frontend/src/globalTheme.js
  frontend/src/pages/LoginPage.js
Labels: frontend

#205 Fix svg responsiveness
  frontend/src/components/register/RegisterInfo.js
  frontend/src/hooks/useWindowDimensions.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/RegistrationPage.js
Labels: bug, frontend

#204 Fix submitted questions loading time
  frontend/src/components/questions/Answers.js
  frontend/src/components/questions/Question.js
  frontend/src/pages/SubmittedQuestions.js
Labels: frontend, fix

#202 Change `Question` background color to white
  frontend/src/components/questions/Answers.js
  frontend/src/components/questions/Question.js
Labels: frontend

#203 Increase countdown clock time
  frontend/src/pages/ExamPage.js
Labels: frontend

#208 Fix total xp field default
  backend/users/models.py
Labels: backend

#206 Fixed Login Page Visuals and Links
  frontend/src/components/login/LoginInput.js
  frontend/src/components/register/RegisterInput.js
Labels: bug, frontend

#209 Add warning for impossible exam combination
  backend/api/views.py
  frontend/src/pages/GenExamPage.js
Labels: backend, frontend

#213 Disable question page
  frontend/src/App.js
  frontend/src/components/questions/QuestionAccordion.js
Labels: frontend

#212 Add discord invite to dashboard
  frontend/src/assets/icons8-discord-new-96.svg
  frontend/src/components/buttons/IconButton.js
  frontend/src/pages/HomePage.js
Labels: frontend

#210 Improve recommended exam generation
  backend/api/serializer.py
  backend/api/urls.py
  backend/api/views.py
  frontend/src/api.js
  frontend/src/pages/GenExamPage.js
Labels: backend, frontend

#214 Fix improve recommended exam generation
  backend/api/views.py
Labels: backend

#221 Hotfix 1.0.2 🔧 Fix recommended exam
  backend/api/views.py
  frontend/package.json
Labels: backend, fix

#228 Hotfix 🔧 Fix Leaderboad Profile Fetching
  backend/api/views.py
Labels: backend, fix

#229 Hotfix 🔧 Fix Password Reset Route
  frontend/package.json
  frontend/src/App.js
Labels: frontend, fix
