Repository HackerSchool/Arquimedia, pull requests merged in 2022-06, with the labels that each got.

#234 Fix 🔧 Email Reset Route Order
  frontend/src/App.js
Labels: frontend, fix

#243 Add resolution field to question
  backend/api/serializer.py
  backend/api/views.py
  backend/exams/migrations/0020_question_resolution.py
  backend/exams/models.py
  frontend/src/components/questions/QuestionForm.js
Labels: backend, frontend

#251 Add resource system
  backend/api/serializer.py
  backend/api/urls.py
  backend/api/views.py
  backend/exams/migrations/0021_resource.py
  backend/exams/models.py
Labels: backend

#253 Fix overall windows unresponsiveness
  frontend/src/components/buttons/IconButton.js
  frontend/src/components/countdownClock/CountdownClock.js
  frontend/src/components/login/LoginInput.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/questions/Answers.js
  frontend/src/components/questions/Question.js
  frontend/src/components/register/RegisterInfo.js
  frontend/src/components/register/RegisterInput.js
  frontend/src/hooks/responsiveHeight.js
  frontend/src/hooks/responsiveWidth.js
  frontend/src/pages/ExamPage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/LandingPage.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/RegistrationPage.js
  frontend/src/pages/SettingsPage.js
Labels: enhancement, frontend
